<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LYRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>671840EC1EA5E45F00CCC0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671841051EA5E45F00CCC0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>671841101EA5E45F00CCC0E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
